/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	color:#401C0F; 
	background-color: maroon;
	font-family: Impact; 
	color:#472400;
	font-size: 144px;
}

p {
	color:#472400;
	font-size: 24px;
	line-height: 30px; 
}

div {
	color:#472400;
	font-size: 24px;
	line-height: 30px;


}

h1 {
	color:#472400;
	font-size: 64px;
	line-height: 30px;
}

h2 {
	color:#472400;
	font-size: 36px;
	line-height: 30px;
}

a {
	color:#472400; 
	font-size: 24px;
	letter-spacing: 4px;
	font-family: Verdana;
	background-color: #AD855C;
	line-height: 20px;
}

th {
	font-size: 24px;
	letter-spacing: 4px;
	font-family: Verdana;
	line-height: 20px;
}

tr {
	font-size: 18px;
	font-family: Verdana;
	background-color: #AD855C;
	line-height: 20px;
}

col {width: 35%;
	float:right ;}




